body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

/* Header Style */

.headwrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;

}

.head {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    padding-top: 15px;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.head p,
a {
    font-size: 18px;
    color: #F9FAF8;
    font-weight: lighter;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 25px;
}

button {
    background: #3882F6;
    color: #F9FAF8;
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
}

.head img {
    width: 550px;
    height: 260px;
}

.main {
    display: flex;
    justify-content: space-between;
    gap: 10%;
}

.logo,
.main {
    padding-bottom: 100px;
}

/* Content Style */

.content {
    text-align: center;
    margin-bottom: 50px;
}

.info img {
    width: 200px;
    height: 200px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 5px solid #3882F6;
}

.title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin: 50px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.info {
    max-width: 200px;
}

/* Quote Style */

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #E5E7EB;
    padding: 8% 20%;
}

.quote, .author {
    align-items: flex-end;
}

.saying {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1F2937;
    line-height: 50px;
}

.author {
    font-size: 24px;
    font-weight: bold;
    color: #1F2937;
}